body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #020202;   
}

#container{
    width: 1000px;
    height: 500px;
    background-image: url(./img/faded-office.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% + 100px) calc(100% + 330px);
}

#hero{
    width: 350px;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 60px;
}

h1{
    font-weight: 900;
    font-size: 48px;
    line-height: 1.1;
}

span{
    border-bottom: 5px solid #0EA5E9;
}

button{
    background-color: #0EA5E9;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px; 
}